doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq0rYM7CdDmbBfHgrGT5_1kUwBPjnYlQU")
		script(src="/javascripts/bikeshare.js")
	body
		#main-content
			div#navbar.white-box
				span#logo.nav-button
					img(src="/images/logo.jpg", width="55", height="55")
				span#map-view.nav-button.active Map	
				span#station-view.nav-button Stations
				span#about-view.nav-button About
			div#map-pane
				div#map-container
					div#map.white-box
			div#station-pane
				div#station-container
			div#about-pane
				div#about-container
					img#pricing-img(src='/images/pricing.png')
					ol.about-rules-list.white-box Getting Started
						li.about-rule To begin using the bikeshare, you need either a 24-Hour Pass or an Annual Membership. This can only be purchased with a credit or debit card.
						li.about-rule After purchasing either a 24-Hour Pass or an Annual Membership, you have access to unlimited 30 minute rides during your Pass or Membership period. 
						li.about-rule All trips 30 minutes or less are included with your Pass or Membership, and trips longer than 30 minutes will incur the usage fees above.
						li.about-rule You may only check out one bike at a time with any given membership.
						li.about-rule Station hours of operation are 5:30am - 12:00am 365 days a year.
					img#lock-img(src='/images/bcyclelock.jpg')
					ol.about-rules-list.white-box Using the Bikeshare
						li.about-rule A bike lock and cable are provided for your security when leaving your bike unattended. See the diagram above for how to use them.
						li.about-rule Unfortunately, helmets are not provided. Please use extreme caution and provide your own safety equipment for riding.
						li.about-rule You must be 18 years of age or older to rent or ride a bicycle.
						li.about-rule When a bike is checked out, the station will beep for 30 seconds. The bike must be removed from the dock before this time expires or it will become available for rent again.
						li.about-rule When returning a bike, push it firmly into the station until you hear a beeping sound. If the bike is not pushed in all the way, it will not register with the system and it will still be considered checked out!
					img#lock-img(src='/images/map.png')
					ol.about-rules-list.white-box About This App
						li.about-rule This app provides a 30-minute timer for your convenience. It will sound when you have 10, 5, 1, and 0 minutes remaining to remind you to re-dock your bicycle.
						li.about-rule This app also provides a service that finds the station nearest to you, and routes you to it automatically. Press the 'route' button to the left of the timer to activate this feature.
						li.about-rule If you wish to check the availability of a station, the 'stations' tab shows how many bikes are available in blue and how many docks are available in orange.
			div#search-pane
				div#search-container.white-box
					input#search-bar(type="text", placeholder="Lucas Oil, 10th and Senate, etc.")
					span#search-button ➤
			div#button-pane.white-box
				span#nearest.footer-button
					p.glyphicon ☈
				span#search.footer-button
					p.glyphicon ⚐
				span#timer.footer-button
					p.glyphicon 30:00
					p.msg-text  Tap to start
