doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/about.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='/stylesheets/overlay.css')
		link(rel='stylesheet', href='/stylesheets/search.css')
		link(rel='stylesheet', href='/stylesheets/stations.css')
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq0rYM7CdDmbBfHgrGT5_1kUwBPjnYlQU")
		script(src="/javascripts/BikeShare.js")
		script(src="/javascripts/Geocoder.js")
		script(src="/javascripts/Alarm.js")
		script(src="/javascripts/main.js")
	body
		block content