doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq0rYM7CdDmbBfHgrGT5_1kUwBPjnYlQU")
		script(src="/javascripts/bikeshare.js")
		script(src="/javascripts/geocoding.js")
		script(src="/javascripts/alarm.js")
	body
		block content